<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link  href="{{ url_for('static', filename='css/cropper.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>